@import '../colors.scss';
@import '../variables.scss';

a {
    text-decoration: none;

    &:hover {
        color: skyblue;
    }
}

h1, h2, h3, h4 {
    font-weight: 400;
}

/* Basic classes */
.left {
    float: left !important;
}

.right {
    float: right !important;
}

/* Prevent text selection. Useful for buttons or other UI elements. */
.no-select {
    user-select: none;
    cursor: default;
}