@import '../colors.scss';
@import '../variables.scss';

html body{

    .simplebar-track{

        /* <!> Fast fade in and slow fadeout */
        .simplebar-scrollbar{
            border-radius: 0;
            transition:opacity 1.5s;
            width: 10px;

            &.visible{
                opacity: 1;
                transition:opacity 0.5s;
            }
        }

        &:hover{
            .simplebar-scrollbar{
                opacity: 1;
                transition:opacity 0.5s;
            }
        }
    }

    .lesson.content,
    editor-vsc{
        .simplebar-scrollbar{
            background: #2db1fd;
        }
    }

    navigator-vsc{
        .simplebar-scrollbar{
            background: #2db1fd;
        }
    }

} 