chapter-link{
    display: block;
    overflow: auto;
    
    &.active {
        background: #041627;

        .number {
            padding: 14px 10px 10px 23px;
            font-size: 1.4em;
        }

        .title{
        font-size: 1.7em;
            padding: 14px 0 14px 0;
        }
        
        .caption{
            font-size: 1.3em;
        }
    }
    
    &:not(.active) {
        cursor: pointer;
        
        &:hover {
            background: #09A0F7;
            color: white;
        }
    }
    
    .number {
        font-weight: 700;
        font-size: 1.1em;
        float: left;
        padding: 15px 10px 0 23px;
    }

    .title{
        font-size: 1.4em;
        margin: 0;
        padding: 15px 0 0 0;
    }

    .caption{
        font-size: 1.1em;
        margin:0;
        color:#accdef;
        padding: 0 20px 15px 20px;
    }

    .lesson{
        font-size: 0.9em;
        display: inline-block;
        margin:0 0 10px 0;
        padding: 0 20px;
        display: block;
    }
}