nav-link-vsc{
    color: #fff;
    display: block;    
    border-bottom: solid 1px #1f3b57;
    width: 100%;
    background: #112438;

    &[active] {
        background: #444;
    }

    &:hover {
        background: #09A0F7;
        color: white;
    }
                
    &:hover .icon,
    &.active .description,
    &:hover .description,
    &:hover .caption {
        color: white!important;
    }

    a {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        float:none;

        .icon {
            color: #accdef;
            font-size: 30px;
            width: 30px;
            padding: 14px 23px 10px 23px;
        }
    
        .info {
            width: calc(100% - 70px);
            padding: 10px 20px 10px 0px;
            box-sizing: border-box;
            
            .caption {
                color: #fff;
                font-size: 1.2em;
            }
    
            .description {
                color: #accdef;
                font-size: 0.9em;
            }
        }
    }

}