quick-menu-vsc{
    display: block;
    position: fixed;
    top: 0;
    right: 20px;

    > btn-link-vsc{
        background: #1c344d;
        font-size: 1.2em;
        line-height: 1em;
        padding: 8px;
        margin: 0 10px 0 0;
    }
}