quick-menu-vsc{
    display: block;
    position: fixed;
    top: 0;
    right: 21px;

    > .logo{
        float: left;
        font-weight: 900;
        background-color: #accdef;
        color: #333;
        padding: 10px 16px;
        line-height: 1em;
        font-family: 'Alfa Slab One', cursive;
        font-family: 'Raleway', sans-serif;
        width: 132px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
    }

    > .user,
    > btn-link-vsc{
        background-color: #accdef;
        color: #333;
        font-size: 1.2em;
        line-height: 1em;
        padding: 8px;
        margin: 0 3px 0 0;
    }
    
    > .user{
        cursor: pointer;
        display: block;
        width: 30px;
        height: 20px;
        float: left;
        background-image: url(../../../media/avatar.jpg);
        background-position: center;
        // margin: 0px 3.5px 0 0; /* Why is margin not equal??? */
    }
}