
/* BLock with simple titles and cover picture on the background */
.cover{
    background-image: url(assets/images/sea.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width:90vw;
    height:90vh;
    padding: 0;
    margin: 5vh 5vw;
}

.cover > .title {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    font-size: 3em;
    padding-top: 200px; 
    margin-bottom: 10px;

}

.cover > .subtitle {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    border-top: double 3px #fff;
    border-bottom: double 3px #fff;
    width: 400px;
    margin: 0 auto;
    padding: 10px 0;
}

/* BLock with simple titles and pattern on the background */
.pattern{
    background-image: url(../patterns/topography.png);
    background-size: initial;
    font-size: 1rem;
}

.pattern > .title {
    color: #3e374a;
}
.pattern > .subtitle {
    color: #3e374a;
    margin-bottom: 0;
}

.pattern > .divider {
    border-top: solid 4px #3e374a;
    width: 200px;
    margin: 0 auto;
}

.pattern > .caption {
    font-family: 'Open Sans', sans-serif;
    color: #3e374a;
    margin: 0 20%;
    text-align: center;
}

.pattern > .caption b{
    color: #be1d3b;
}

a.skinny {
    display: block;
    width: 250px;
    padding: 10px;
    background: white;
    color: #be1d3b;
    border: solid 4px #be1d3b;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2em;
    font-family: 'Time New Roman', serif;
}

a.skinny:hover{
    color: white;
    background: #be1d3b;
}