navigator-vsc {
    display: block;
    font-size: 0.85em;
    background: #1c344d;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    display: none!important; /* Important prevents collision with simplebar */

    &[visible] {
        display: flex!important; /* Important prevents collision with simplebar */        
    }

    a {
        color: #accdef;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
    
    .header{
        overflow: hidden;
        height:50px;

        .close{
            height: 20px;
            width: 20px;
            padding: 10px;
            float: right;
            font-size: 20px;
            cursor: pointer;
            text-align: center;

            &:hover{
                background: crimson;
                color:white;
            }
        }
    }

    .chapter{
        padding: 10px 20px;

        .title{
            font-size: 1.7em;
        }

        .subtitle{
            font-size: 1.3em;
            margin:0;
            color:#accdef;
        }

        .lesson{
            font-size: 0.9em;
            display: inline-block;
            margin:0 0 10px 0;
        }
    }

    .links {
        nav-link-vsc{}
    }
}