navigator-vsc {
    display: block;
    font-size: 0.85em;
    background: #1c344d;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    display: none!important; /* Important prevents collision with simplebar */

    &[visible] {
        display: flex!important; /* Important prevents collision with simplebar */        
    }

    a {
        color: #09A0F7;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
    
    .header{
        overflow: hidden;
        height:50px;

        .close{
            height: 20px;
            width: 20px;
            padding: 10px;
            float: right;
            font-size: 20px;
            cursor: pointer;
            text-align: center;

            &:hover{
                background: crimson;
                color:white;
            }
        }
    }

    .chapter{
        padding: 10px 20px;

        .title{
            font-size: 1.7em;
        }

        .subtitle{
            font-size: 1.3em;
            margin:0;
            color:#09A0F7;
        }

        .lesson{
            font-size: 0.9em;
            display: inline-block;
            margin:0 0 10px 0;
        }
    }

    .links {

        .link {
            color: #fff;
            display: block;
            border-bottom: solid 1px #385D83;
            cursor:pointer;
            display: flex;
            flex-direction: row;
            width: 100%;

            &.active {
                background: #444;
            }

            &:hover {
                background: #09A0F7;
                color: white;
            }
                        
            &:hover .icon,
            &.active .label,
            &:hover .label,
            &:hover .title {
                color: white!important;
            }

            .icon {
                color: #accdef;
                font-size: 30px;
                box-sizing: border-box;
                padding: 10px 20px;
            }

            .info {
                padding: 10px 20px;
                
                .title {
                    color: #fff;
                    font-size: 1.2em;
                }
    
                .label {
                    color: #accdef;
                    font-size: 0.9em;
                }
            }
        }
    }
}