code-editor-module{
    display: none;
    position: relative;

    &[visible] {
        display: block;
    }

    .editor.ace_editor{
        width: 100%;
        height: 100%;

        .ace_gutter{
            background: transparent;
            border-right: solid 1px #5485B3;
            color: #5485B3;
        }
    }

    .simplebar{
        width:20px;
        height: 100%;
        position: absolute;
        top:0;
        right:0;
        overflow: hidden;
        z-index: 20;

        .inner{
            width: 1px;
        }
    }

}

.ace_scrollbar {
    // display: none !important;
    opacity: 0 !important;
}

// .ace_scrollbar {
//     overflow: hidden;
// }