body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin: 0
}

a {
    color: #00AAE2;
    text-decoration: none;
    display: block;
    float: left;
    clear: both;
}

a:hover {
    color: DeepSkyBlue;
}

.nav {
    overflow: auto;
}

.black {
    color: #333;
}

.centered {
    padding: 30px 20%;
    box-sizing: border-box;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
}

.subtitle {
    font-family: 'Slabo 27px', serif;
    font-style: italic;
    margin-bottom: 0em;
    font-weight: 300;
}

h1, h2, h3 {
    overflow: auto;
}

.col {
    width: 50%;
    float: left;
}

.col * {
    margin-left: 30px;
    margin-right: 30px;
}

.row {
    overflow: auto;
}

.slab{
    font-family: 'Alfa Slab One', cursive;
    color:DeepSkyBlue;
}