body {
    margin: 0;
    display: flex;
    flex-direction: row;
}
body > .content {
    /* width: 50%; */
    height: 100%;
    overflow: auto;
    position: relative;
    flex:1;
}

/* Navigation menu */
#lesson-navigation-btn {
    position: fixed;
    top: 10px;
    right: 17px;
    width: 30px;
    height: 30px;
    font-size: 0.85em;
    background: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    cursor:pointer;
    box-sizing: border-box;
    padding: 8px;
    z-index: 10; /* Prevent overlay by ace editor issue */
}

#lesson-navigation-btn.hidden {
    display: none;
}

#lesson-navigation-btn:hover {
    background: #09A0F7;
    color: white;
}

#lesson-navigation {
    /* position: fixed;
    top: 0;
    right: 0; */
    width: 300px;
    /* height: 100%; */
    font-size: 0.85em;
    background: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

#lesson-navigation.hidden {
    display: none;
}

#lesson-navigation a {
    color: #71CCFD;
    text-decoration: none;
}

#lesson-navigation a:hover {
    color: #fff;
}

#lesson-navigation .header{
    overflow: auto;
}

#lesson-navigation .header .close{
    height: 20px;
    width: 20px;
    padding: 10px;
    float: right;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#lesson-navigation .header .close:hover{
    background: crimson;
    color:white;
}

#lesson-navigation .chapter{
    padding: 10px 20px;
}

#lesson-navigation .chapter .title{
    font-size: 1.7em;
}

#lesson-navigation .chapter .subtitle{
    font-size: 1.3em;
    margin:0;
    color:#71CCFD;
}

#lesson-navigation .chapter .lesson{
    font-size: 0.9em;
    display: inline-block;
    margin:0 0 10px 0;
}

#lesson-navigation .footer{

}

#lesson-navigation .link {
    color: #fff;
    display: block;
    border-bottom: solid 1px #555;
    cursor:pointer;
    display: flex;
    flex-direction: row;
}

#lesson-navigation .link .icon {
    color: #71CCFD;
    font-size: 30px;
    box-sizing: border-box;
    padding: 10px 20px;
}

#lesson-navigation .link .info {
    padding: 10px 20px;
}

#lesson-navigation .link .title {
    color: #fff;
    font-size: 1.2em;
}

#lesson-navigation .link .label {
    color: #bbb;
    font-size: 0.9em;
}

#lesson-navigation .link.active {
    background: #444;
}

#lesson-navigation .link:hover {
    background: #09A0F7;
    color: white;
}

#lesson-navigation .link:hover .icon,
#lesson-navigation .link.active .label,
#lesson-navigation .link:hover .label,
#lesson-navigation .link:hover .title {
    color: white;
}

/* Code editor */
#code-preview {
    /* position: fixed;
    top: 0;
    right: 0;
    width: 50%; */
    flex:1;
    height: 100%;
    font-size: 0.85em;
}